
@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#solarImage {
  float: right;
  display: inline-block;
}

#welcome {
  float: right;
  padding-right: 20px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

#time {
  float: right;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

header {
  background-color: #add8e6;
  padding: 5px;
  font-size: 35px;
}

.subHead {
  border-top: 20px solid #d3d3d3;
}

nav {
  overflow: hidden;
  color: black;
  font-weight: bold; 
  background-color: white;
  text-align: center;
  padding: 10px;
}

nav a {
  float: center;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  position: relative;
  top: 0;
  transition: top .5s, color .5s;
}

nav a:hover{
  color: red;
  top: -10px;
  text-decoration: none;
}

.col-1-2 {
  width: 50%;
  padding: 10px;
}

p.intro {
  line-height: 1.5;
}

article {
  padding-top: 20px;
  padding-bottom: 20px;
}

#destination01 img {
  display: block;
  height: 300px;
  width: 100%;
}

#destination02 img {
  display: block;
  height: 300px;
  width: 100%;
}

#destination03 img {
  display: block;
  height: 300px;
  width: 100%;
}

#destination04 img {
  display: block;
  height: 300px;
  width: 100%;
}

.col-1-4:hover {
  animation: col-1-4 2s;
  color: white;
  border: 5px solid black;
  background: black;
}

.col-1-4 {
  float: left;
  margin-right: 10px;
  width: 24%;
  padding: 15px;
  border-style: solid;
  display: block;
  margin-bottom: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.orgprice {
  color: gray;
}

.savings {
  color: green;
}

footer {
  background-color: #000000;
  color: white;
  text-align: left;
  padding-top: 5px;
  padding-left: 40px;
  padding-bottom: 5px;
}

@media (max-width: 800px){
  .subHead {
    padding-top: 20px;
  }

  nav{
    background-color: black;
    padding-top: 20px;
  }

  nav a {
    background-color: transparent;
    color: white;
    transition: none;
    padding-top: 20px;
  }

  nav a:hover {
    color: goldenrod;
  }

  .col-1-4 {
    width: 100%;
    margin-top: 10px;
  }

  .col-1-2{
    width: 100%;
  }

}



@keyframes col-1-4 {

  from{

    background-color: white;

    color: black;

    border-width: 1px;

    padding: 15px;

  }

  to{

    background-color: black;

    color: white;

    border-width: 5px;

    padding: 11px;

  }

}